.container {
  padding: 50px;
  font-family: Arial;
  background: #15f384;;
  border-radius: 15px;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #000000;
}

.layout {
  display: flex;
  gap: 20px;
}

.calendar {
  flex: 3;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 12px;
}

.formulario {
  flex: 1;
  background: rgba(220, 252, 231, 0.8);
  padding: 20px;
  border-radius: 12px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario input,
.formulario select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c9c9c9;
}

button {
  background: #16a34a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
}