.form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form-field label {
  font-weight: bold;
  margin-bottom: 6px;
}

.form-field input,
.form-field .rs-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  padding: 40px;
}

.form-group {
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #555;
}

/* Inputs normales */
.form-group input {
  width: 100%;
}

/* Componentes de RSuite (MUY IMPORTANTE) */
.rs-picker,
.rs-picker-toggle {
  width: 100% !important;
}