.modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  animation: slideDown 0.3s ease;
  overflow: visible; /* importante: no cortar dropdowns */
  z-index: 900; 
}

.modal-card h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #2c3e50;
  border-bottom: 2px solid #5ead72;
  padding-bottom: 0.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem 1.5rem;
  width: 100%;
}


.submit-btn {
  grid-column: span 2;
  background: #007bff;
  color: #fff;
  font-weight: 600;
  padding: 0.9rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 1rem;
}

.submit-btn:hover {
  background: #0056b3;
}
.rs-picker-popup {
  z-index: 2000 !important;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
