*{
box-sizing:border-box;
}
body{
margin:0;
overflow-x:hidden;
}
.landing{
font-family: Arial, sans-serif;
}

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:100px 5%;
background:#f5f7fb;
gap:60px;
}

.hero-left{
max-width:500px;
}

.hero h1{
font-size:42px;
margin-bottom:20px;
}

.hero-buttons{
margin-top:20px;
}

.primary-btn{
background:#0ea37f;
color:white;
border:none;
padding:12px 22px;
border-radius:6px;
margin-right:10px;
cursor:pointer;
}

.secondary-btn{
background:white;
border:1px solid #ccc;
padding:12px 22px;
border-radius:6px;
cursor:pointer;
}

.hero-right img{
width:450px;
border-radius:12px;
}

/* SECTIONS */

section{
padding:80px 5%;
text-align:center;
}

/* SERVICES */

.services-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
margin-top:40px;
}

.service-card{
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.icon{
font-size:35px;
}

/* valor */
.conditions{
background:white;
}

.conditions-sub{
max-width:600px;
margin:auto;
margin-top:10px;
color:#555;
}

.conditions-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
margin-top:40px;
}

.condition-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
transition:0.2s;
}

.condition-card:hover{
transform:translateY(-5px);
}

/* STEPS */

.steps{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.step{
max-width:200px;
}

.step-number{
width:40px;
height:40px;
background: #12c79d;
color:white;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
margin-bottom:10px;
}

/* DOCTORS */

.doctor-grid{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.doctor-card img{
width:200px;
height:200px;
border-radius:50%;
object-fit:cover;
}

/* TESTIMONIALS */

.testimonial-grid{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.testimonial{
background:#f3f4f6;
padding:20px;
border-radius:8px;
max-width:300px;
}

/* FOOTER */
